/* REGULAR BUTTONS */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  a {
    color: $color-default-white;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    background-color: $color-silver;
    pointer-events: none;
  }
}

/* VIOLET BUTTONS*/
.btn-violet {
  background-color: $color-slate-blue;

  &:hover,
  &:focus {
    background-color: $color-medium-purple;
  }

  &:active {
    background-color: $color-royale-purple;
  }
}

/* WHITE BUTTONS*/
.btn-white {
  background-color: $color-default-white;
  color: $color-slate-blue;

  &:hover,
  &:focus {
    background-color: $color-medium-purple;
    color: $color-default-white;
  }

  &:active {
    background-color: $color-royale-purple;
  }
}
