.header {
  width: 100%;
  max-width: 1920px;;
}

.header__wrapper {
  @media(min-width: ($vp-1440)) {
    padding: 0 40px;
  }

  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: ($vp-768 - 1)) {
    position: relative;
  }
}

.header__logotype {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
  z-index: 11;

  a {
    height: min-content;
    cursor: default;
    display: flex;
    align-self: center;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
  }

  @media (max-width: ($vp-1440 - 1)) {
    p {
      display: none;
    }

    svg {
      width: 86px;
    }
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr;
    margin-left: 20px;

    svg {
      width: 32px;
      height: 38px;
    }
  }
}

.header__main,
.header__user {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 12px;

  @media (max-width: ($vp-1440 - 1)) {
    gap: 0;
  }
}

.header__main {
  @media (max-width: ($vp-768 - 1)) {
    position: absolute;
    width: 100%;
    flex-direction: column;
    z-index: 10;
    align-items: end;
  }

  button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    padding: 0;
  }
}

.header__main--opened {
  background-color: $color-default-white;

  button {
    position: sticky;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 22px;
      width: 16px;
      height: 2px;
      background-color: $color-night-rider;
    }
  
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  
    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .header__submenu {
    align-self: center;
  }
}

.header__main--closed {
  button::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: $color-night-rider;
    box-shadow: 0 6px 0 0 $color-night-rider, 0 12px 0 0 $color-night-rider;
  }

  button:active::before {
    background-color: $color-night-rider;
    box-shadow: 0 6px 0 0 $color-night-rider, 0 12px 0 0 $color-night-rider;
  }

  .header__submenu {
    display: none;
  }
}

.header__main--nojs button {
  display: none;
}

.header__main .header__main--nojs {
  position: static;
  min-height: 0;
}

.header__user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 11;

  @media (max-width: ($vp-768 - 1)) {
    position: relative;
    right: 60px;
  }
}

/* Same effects, same behavior */
.header__submenu,
.header__subuser {
  padding: 25px 20px;
  position: relative;
  line-height: 24px;

  &:before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background: $color-torch-red;
    transition: all .5s;
    width: 0;
  }

  &:hover:before,
  &:focus:before {
    background: $color-slate-blue;
    left: 0;
    right: 0;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $color-slate-blue;
  
    svg {
      fill: $color-slate-blue;
    }
  }

  &:active {
    background-color: $color-magnolia;
  }

  p {
    margin: 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 18px 21px;
  }
}

.header__submenu {
  transition: all 300ms ease 0;
}

.header__subuser {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  svg {
    fill: $color-night-rider;
  }

  @media (max-width: ($vp-1440 - 1)) {
    p {
      display: none;
    }

    svg {
      margin: 3px 0;
    }
  }
}
