.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__logotype {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;

  a {
    height: min-content;
    cursor: default;
    margin-top: 8px;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
  }

  @media (max-width: ($vp-1440 - 1)) {
    p {
      display: none;
    }

    svg {
      width: 86px;
    }
  }
}

.header__main,
.header__user {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 12px;

  @media (max-width: ($vp-1440 - 1)) {
    gap: 0;
  }
}

.header__user {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Same effects, same behavior */
.header__submenu,
.header__subuser {
  padding: 27px 20px;
  position: relative;
  line-height: 24px;

  &:before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background: $color-torch-red;
    transition: all .5s;
    width: 0;
  }

  &:hover:before,
  &:focus:before {
    background: $color-slate-blue;
    left: 0;
    right: 0;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $color-slate-blue;
  
    svg {
      fill: $color-slate-blue;
    }
  }

  &:active {
    background-color: $color-magnolia;
  }

  p {
    margin: 0;
  }
}

.header__submenu {
  transition: all 300ms ease 0;
}

.header__subuser {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  svg {
    fill: $color-night-rider;
  }

  @media (max-width: ($vp-1440 - 1)) {
    p {
      display: none;
    }

    svg {
      margin: 3px 0;
    }
  }
}
