.main-catalogue {
  background-color: $color-white-smoke;
}

.main-catalogue__wrapper {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    padding-top: 100px;

    @media (max-width: ($vp-1440 - 1)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: ($vp-768 - 1)) {
      grid-template-columns: 1fr;
      justify-content: center;
      padding-top: 60px;
    }
  }

  h2 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @media (max-width: ($vp-768 - 1)) {
      margin-bottom: 20px;
    }
  }

  small {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
  }
}

/* SELECT BLOCK */

.main-catalogue__gradation {
  grid-column: -1 / 1;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: end;
  padding: 15px 0;
  font-weight: 600;
  display: flex;

  @media (max-width: ($vp-1440 - 1)) {
    grid-row: 4 / 5;
    padding: 44px 0 17px;
  }
}

select {
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  padding-left: 20px;
  color: $color-slate-blue;
}

/* GOODS BLOCK */

.main-catalogue__list {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(317px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px;
  margin-top: 13px;

  @media (max-width: ($vp-1440 - 1)) {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    grid-template-columns: repeat(2, minmax(349px, 1fr));
    grid-template-rows: repeat(3, 1fr);
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

.main-catalogue__item {
  padding: 50px 30px 15px;
  position: relative;
  background-color: $color-default-white;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  @media (max-width: ($vp-768 - 1)) {
    padding: 40px 20px 20px 20px;
  }

  &:hover {
    z-index: 1;
    box-shadow: 0 5px 15px $color-night-rider;
    top: -2px;
  }

  img {
    object-fit: cover;
    margin: 0 auto;
  };

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    margin: 30px 0 10px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    margin: 10px 0;
  }

  div {
    display: grid;
    grid-template-columns: 1fr minmax(141px, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  span {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
  }

  button {
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 6px;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
}

/* NAVIGATION BLOCK*/

.main-catalogue__nav {
  grid-column: -1 / 1;
  display: flex;
  justify-self: end;
  width: fit-content;
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: ($vp-1440 - 1)) {
    grid-row: 6 / 7;
    margin-top: 70px;
    margin-bottom: 45px;
  }

  @media (max-width: ($vp-768 - 1)) {
    justify-self: center;
    gap: 20px;
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

.main-catalogue__button {
  padding: 9px 54px;

  &--prev {
    span:after {
      content: 'Назад';
    }
  }

  &--next {
    span:after {
      content: 'Вперед';
    }
  }

  @media (max-width: ($vp-768 - 1)) {
    min-width: 40px;
    min-height: 40px;
    padding: 8px;

    &--prev {
      background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5.80847 -5.20835e-08L7 1.23899L3.38306 5L7 8.76101L5.80847 10L1 5L5.80847 -5.20835e-08Z" fill="%237859CF"/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: center;
      span:after {
        content: '';
      }
    }
  
    &--next {
      transform: rotate(180deg);
      background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5.80847 -5.20835e-08L7 1.23899L3.38306 5L7 8.76101L5.80847 10L1 5L5.80847 -5.20835e-08Z" fill="%237859CF"/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: center;
      span:after {
        content: '';
      }
    }
  }
}

.main-catalogue__pagination {
  min-width: 40px;
  min-height: 40px;
  padding: 8px;

  &--selected {
    margin-left: 20px;
    margin-right: 20px;
  
    background-color: transparent;
    color: $color-night-rider;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;

    @media (max-width: ($vp-768 - 1)) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
