extends common/_base

block head
  script(src='https://api-maps.yandex.ru/2.1/?apikey=6acb773c-4054-4e18-af9e-dd0d42017374&lang=ru_RU' type='text/javascript')
block content
  include ./includes/header
  main
    include ./includes/main-intro
    include ./includes/main-advantages
    include ./includes/main-catalogue
    include ./includes/main-location
  include ./includes/footer
  script(src='js/vendor.min.js')
  script(src='js/main.min.js')
