section.main-intro.swiper
  .container.swiper-wrapper
    .main-intro__wrapper.swiper-slide
      h2.hdr Декаф Флэт Уайт
      small.sml Новинка!
      p Свежесваренный кофе без кофеина из&nbsp;Эфиопии
        |&nbsp;с&nbsp;натуральным фермерским молоком&nbsp;&mdash; то, что нужно
        |&nbsp;для расслабления после тяжёлого рабочего дня
      .main-intro__ordering
        .main-intro__price
          small 295₽
          large 225₽
          a.btn.btn-violet(href='#') Заказать
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
//- Не забыть затащить свайпер в JS
